:root{
    --background: gray;
    --casas: rgb(36, 36, 36);
    --tabuleiro: var(--background);
    --tempoTransicao:1s;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--background);
    display: flex;
    /* justify-content: center; */
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.centro{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pontuacao{
    text-transform: uppercase;
    gap: 1rem;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 300%;
    top: 0;
    margin: 5%;
    height: 10%; 
    width: 40%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 16rem;
    background-color: rgb(71, 71, 71);
    color: aliceblue;
}
/* .icone{
    transition: 2s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
} */
.tabuleiro{
    background-color: var(--tabuleiro);
    height: 500px;
    width: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.casa{
    background-color: var(--casas);
    margin: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* cursor: pointer; */
}
.circulo{
    background-image: url(./icones/circulo.png);
}
.xis{
    background-image: url(./icones/xis.png);
}
.selecionado{
    background-color: black;
    transition: var(--tempoTransicao);
}
.azul{
    background-color: rgb(43, 43, 255);
    transition: 0.5s;
}
.vermelho{
    background-color: rgb(255, 43, 43);
    transition: 0.5s;
}
.botoes{
    position: absolute;
    bottom: 0;
    margin: 4%;
    width: 14%;
    height: 8%; 
    display: flex;
    flex-direction: column;
    align-items: center;
}
#reset{
    cursor: pointer;
    height: 100%; 
    width: 100%;
    font-size: 200%;
    border-radius: 10px;
    box-shadow: 0px 5px 0px 5px black;
    margin: 8%;

}
.ur{
    font-size: 100%;
    width: 40%;
    background-color: rgb(255, 255, 0);
    font-family: 'Courier New', Courier, monospace;
}
.lado{
    background-color: rgba(59, 59, 59, 0.473);
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.placar{
    font-size: 500%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.esquerdo{
    margin-right: 8%;
}
.direito{
    margin-left: 8%;
}
.azularPlacar{
    background-color: rgba(0, 0, 255, 0.500);
    transition: var(--tempoTransicao);
}
.avermelharPlacar{
    background-color: rgba(255, 0, 0, 0.500);
    transition: var(--tempoTransicao);
}
#botao{
    cursor: pointer;
}
.yellow{
    color:yellow;
    transition: var(--tempoTransicao);
}
.white{
    color:aliceblue;
}