:root{
    --background: gray;
    --casas: rgb(36, 36, 36);
    --tabuleiro: var(--background);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.pontuacao{
    text-transform: uppercase;
    gap: 1rem;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 300%;
    top: 0;
    margin: 5%;
    height: 10%; 
    width: 35%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 16rem;
    background-color: rgb(71, 71, 71);
    color: aliceblue;
}
/* .icone{
    transition: 2s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
} */
.tabuleiro{
    background-color: var(--tabuleiro);
    height: 500px;
    width: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.casa{
    background-color: var(--casas);
    margin: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.circulo{
    background-image: url(./icones/circulo.png);
}
.xis{
    background-image: url(./icones/xis.png);
}
.selecionado{
    background-color: black;
    transition: 1s;
}
.azul{
    background-color: rgb(43, 43, 255);
    transition: 0.5s;
}
.vermelho{
    background-color: rgb(255, 43, 43);
    transition: 0.5s;
}
button{
    position: absolute;
    bottom: 0;
    margin: 3%;
    height: 8%; 
    width: 14%;
    font-size: 200%;
    border-radius: 10px;
    box-shadow: 0px 5px 0px 5px black;
}